
.icon-palette:before { content: '\e806'; } /* '' */
.icon-download:before { content: '\e80c'; } /* '' */
.icon-cancel:before { content: '\e812'; } /* '' */
.icon-spinner:before { content: '\f110'; } /* '' */